<a href="https://colab.research.google.com/github/HiteshAI/Plant_Classification/blob/master/nepali_sentiment_classifier_fastai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [0]:
from fastai.text import *
import pandas as pd

In [21]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving file_2.csv to file_2.csv
User uploaded file "file_2.csv" with length 27716 bytes

In [0]:
df = pd.read_csv('file_2.csv')

In [23]:
df.head()

                                   sentiments\tlabel
0  एमाले उपाध्यक्ष नारयणकाजी श्रेष्ठले बहुसदस्यीय...
1  तर त्यसमा गम्भीर छलफल नभएको अर्का एक नेताले बत...
2  एमाले महासचिव ईश्वर पोखरेलले संघीयतामा एमाओवाद...
3  धेरै प्रदेश बनाउने र जातीय पहिचान दिने एमाओवाद...
4  बैठकमा पोखरेल र संवैधानिक संवाद तथा राजनीतिक स...

In [15]:
df.keys()

Index(['sentiments\tlabel'], dtype='object')

In [0]:
path = Path('/content')
print(path)
data_lm = (TextList.from_csv(path, 'file_2.csv', cols='sentiments', delimiter='\t')
                   .split_by_rand_pct()
                   .label_for_lm()
                   .databunch())

In [32]:
data_lm.show_batch()

In [33]:
learn = language_model_learner(data_lm, AWD_LSTM)
learn.fit_one_cycle(2, 1e-2)

In [0]:
learn.save('mini_train_lm')
learn.save_encoder('mini_train_encoder')

In [35]:
learn.show_results()

In [0]:
data_class = (TextList.from_csv(path, 'file_2.csv', cols='sentiments', delimiter='\t', vocab=data_lm.vocab)
                   .split_by_rand_pct(0.1)
                   .label_from_df(cols='label')
                   .databunch(bs=4))

In [43]:
data_class.show_batch()

In [44]:
learn = text_classifier_learner(data_clas, AWD_LSTM)
learn.load_encoder('mini_train_encoder')
learn.fit_one_cycle(2, slice(1e-3,1e-2))
learn.save('mini_train_clas')

In [45]:
learn.show_results()